.olLayerDiv image { /* fix transparent map icons */
	opacity: 1.0 !important;
	fill-opacity: 1.0;
}
.openlayers-popupbox .popup-pager ul li span {
  text-align: center;
}

.openlayers-popupbox div.title_item-list ul {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.openlayers-popupbox div.title_item-list ul li {
  margin: 0;
  padding: 0;
}

.openlayers-popupbox a:hover {
  text-decoration: none;
}

.openlayers-popupbox .popup-content {
}

.openlayers-popupbox .popup-content ul {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.openlayers-popupbox .popup-content ul li {
  margin: 0;
  padding: 0;
}

.openlayers-popupbox a.popup-close {
  background: url(../images/closer_000_16x15.png) no-repeat;
  color: transparent;
  display: block;
  height: 15px;
  margin: 0;
  margin: 10px 0;
  padding: 0;
  text-decoration: none;
  width: 16px;
}

.openlayers-popupbox .popup-pager {
  color: #444;
  display: none;
  display: block;
  width: 100%;
  margin-top: 15px;
}

.openlayers-popupbox .popup-pager ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.openlayers-popupbox .popup-pager ul li {
  float: left;
  padding: 5px 0;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 33%;
}

.openlayers-popupbox .popup-pager ul li.pages {
  font-size: 10px;
  text-align: center;
  width: 33%;
}

.openlayers-popupbox .popup-pager ul li a {
  color: transparent;
  height: 9px;
  width: 14px;
}

.openlayers-popupbox .popup-pager ul li a.prev {
  background: url(../images/pagerPrev.png) no-repeat;
  float: left;
  margin-left: 10px;
}

.openlayers-popupbox .popup-pager ul li a.next {
  background: url(../images/pagerNext.png) no-repeat;
  float: right;
  margin-right: 10px;
}
